h1 {
	text-align: center;
}
h4{
	text-align: center;
}

table{
	border:none;
	border-collapse:separate;
	margin-top: 1cm;
	width: 280px;
	height: 280px;
}

body {
	background-color: orange;
	border: none;
	margin-left: 200px;
	margin-right: 200px;
	margin-bottom: 5px;
	padding-bottom: 50px;
}
td {
               padding:18px;
			   border-spacing: 12px;
			   background-color: orange;
               
     }
a{
	text-decoration: none;
    text-shadow: aqua;
}